{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <h1>Navbar fun</h1>
                <!-- <img src="/img/arrow-right.svg" alt="arrow right" width="30px" height="30px"> -->
                <!-- <img src="/img/hubless-bmx-concept-bike-nikolay-boltachev.jpg" alt="bike"> -->
                <p>...and more fun</p>
            </div>
        </section>

    {{/replace}}
{{/extend}}
