body {
    font-family: $font-stack;
    color: $paragraph-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}
p {
    margin: 18px 0;
    text-align: center;
}
footer,
header,
section {
    .inner {
        max-width: 1080px;
        // min-width: 320px; check on this
        margin: 0 auto;
        text-align: center;
        @include middle;
    }
}
header {
    nav {
        margin: 20px;
        ul {
            padding-left: 0;
            li {
                display: block;
                a {
                    line-height: 20px;
                }
            }
        }
    }
}
footer {}
#landing {
    // Here goes styling which will only apply to the landing page, to div#landing
}
